body {
    font-family: sans-serif;
    background-color: blueviolet;
    text-align: center
}

.counter {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
}

#incrbutton {
    background-color: green;
    font-weight: bold;
}

#descbutton {
    background-color: red;
    font-weight: bold;
}